@use "../mixins";

// TODO: Rename to your icon classnames
.example-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 16px;
        height: 16px;

        //stroke: currentColor;
        //stroke-width: .5px;
    }
}