:root {
    // TODO: Change variables to your liking
    --example-font: Tahoma, Geneva, Verdana, sans-serif;

    // Colors
    --example-text: #000000;
    --example-background: #FFFFFF;
    --example-background-gray: #D9D9D9;

    --example-blue: #009CC6;
    --example-dark-blue: #007494;

    --button-hover: rgba(0, 0, 0, .2);
    --button-active: rgba(0, 0, 0, .3);
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--example-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    user-select: none;
    font-size: 0.9em;
}